<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.paul.reggie">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Launcher">
        <!--android:theme="@style/AppTheme">-->

        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".BudgetDetailActivity" />
        <!--<activity
            android:name=".navActivity"
            android:label="@string/title_activity_nav"
            android:theme="@style/AppTheme" />-->
        <activity android:name=".BudgetSummaryActivity" />
        <activity android:name=".BudgetCreationActivity"/>
        <activity android:name=".AccountDetailActivity"/>
        <activity android:name=".AccountSummaryActivity"/>
        <activity android:name=".AccountCreationActivity"/>
        <activity android:name=".BudgetCreationActivity"/>
        <activity android:name=".TransactionCreationActivity"/>
        <activity android:name=".TransactionSummaryActivity"/>
        <activity android:name=".TransactionDetailActivity"/>


    </application>

</manifest>